@media screen and (min-width: 701px) {
    body {
        background-image: url("/images/site/checkerboard.jpg");
        background-repeat: repeat;
        background-size: auto;
        background-attachment: fixed;
    }

    #wrapper {
        margin: 2rem 4rem;
        background-color: white;
        padding: .5rem;
        border: 6px solid skyblue;
    }

    main h1 {
        font-size: 2.5rem;  
    }      
      
    .siteName a {
        font-size: 3.5rem;
    }
      
    #tools a {
        font-size: 1.5rem;
    }

    .navigation {
        font-size: 2rem;
    }

    #inv-display {
        grid-template-columns: repeat(2, 1fr);
      }
    
    .hero-content {
        padding: .6rem;
        min-width: 45%;
        min-height: 80%;
        border-radius: 8px;
    }
      
    .hero h2 {
        font-size: 2rem;
    }
      
    .hero p {
        font-size: 1.5rem;
    }
      
    .cta-button {
        font-size: 1.3rem;
        padding: 1rem 1.5rem;
    }

    .main-content {
        display: flex;
        flex-direction: row-reverse;
        gap: 2rem;
        margin-top: 1rem;
    }

    .left-tab,
    .right-tab {
        flex: 1; 
    }

    /* Reviews */

    .right-tab h3,
    .left-tab h3 {
        font-size: 2rem;
        margin-bottom: 3rem;
    }
    
    .right-tab li {
        font-size: 1.5rem;
    }
    
    .right-tab ul {
        line-height: 3rem;
    }
    
    .del-upgrades div {
        font-size: 1.5rem;
    }
    
    .del-upgrades img {
        max-height: 80px;
    }

    footer {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1000px) {
    #inv-display {
        grid-template-columns: repeat(3, 1fr);
    }

    .siteName a {
        font-size: 4rem;
    }
      
    #tools a {
        font-size: 2rem;
    }

    main h1 {
        font-size: 3.5rem;  
    }
      
    .hero h2 {
        font-size: 3rem;
    }
      
    .hero p {
        font-size: 2rem;
    }
      
    .cta-button {
        font-size: 1.5rem;
    }
}